* {
    box-sizing: border-box;
}

.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    max-width: 1220px;
    min-width: 991px;
    margin: 0 auto;
    padding: 0;
}
.section {
    display: flex;
    justify-content: space-between;
    margin: 0 -10px;
}
.top-list {
    display: flex;
    margin-bottom: 31px;
    flex-flow: row;
    justify-content: space-between;
}

.top-list a {   
    margin-right: 40px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    text-decoration: none;
    border-bottom: 3px solid transparent;    
}

.top-list a:hover {
    padding-bottom: 7px;
    color: #46A358;
    border-bottom-color: #46A358;
    ;
}

.right a {    
    margin-left: 8px;
    margin-right: 0;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    border: none;
    background-color: #FFF;
}

.sort {    
    padding-left: 8px;
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    border: none;
    background-color: #FFF;
    background-image: url(../img/arrow-down2.svg);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 22px;
}

.left {
    display: flex;
    justify-content: space-between;
}

.right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.left-side {
    width: 25%; 
    padding: 0 10px;
}
.menu-left {
    background-color: #FBFBFB;    
    padding-top: 14px;
}
.categories {
    color: #3D3D3D;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-left: 18px;
    margin-bottom: 7px;    
}

.list {
    list-style: none;
    padding-left: 28px;
    padding-top: 0;
    margin-top: 0;
}
.menu {
    background-color: #FBFBFB;
}

.menu a {
    color: #3D3D3D;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
}

.menu a:hover {
    color: #46A358;
    font-weight: 700;
}
.number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 22px;
}

.banner {
    width: 100%;
    }


.h3 {
    color: #3D3D3D;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 12px;
    margin-bottom: 6px;
    text-decoration: none;
}

.img-back {
    position: relative;
    background-color: #fbfbfb;
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
}
.box-share {
    display: none;
    justify-content: space-between;
    width: 134px;
    position: absolute;
    bottom: 7px;
    transform: translateX(-50%);
    left: 50%;
}
.box-share-btn {
    cursor: pointer;
    background-color: #fff;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-share-btn:hover path{
    fill: #46A358;
}
.item:hover .box-share {
    display: flex;
}
.sale {
    display: flex;
}
.price {
    color: #46A358;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 18px;
}
.akcio {
    color: #cbcbcb;
    text-decoration: line-through;
    margin-top: 0;
    font-size: 18px;    
    font-weight: 700;
    line-height: 16px;
}

.img {
    width: 100%;
}
.img-responive {
    max-height: 100%;
    height: auto;
}

.right-side {
    display: flex;
    flex-flow: column;
    width: 75%;
    padding: 0 10px;
}
.right-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px;    
}

.item {
    width: 33.333%;   
    padding: 0 10px;
    margin-bottom: 70px;
    border-top: 1px transparent solid;
    }
.item:hover {
    border-top-color: #46A358;
    }

.mr-0 {
    margin-right: 0;
}

/* !.img-back {
    background-color: #fbfbfb;
    height: 300px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;      
} */

.off {
    position: relative;
    }
.sale1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #46A358;
    padding: 6px 8px;
    position: absolute;
    top: 14px;
    left: 0;
    margin-left: 10px;
    margin-top: 0;
    z-index: 5;
}
.button {
    padding: 8px 11px;
    margin-left: 5px;
    margin-right: 5px;
    color: #3D3D3D;
    background-color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 16px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
}

.button:hover {
    background: #46A358;
    color: #FFF;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 82px;
}

.arrow {
    background-image: url(../img/arrow-right2.svg);
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 8px 11px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    width: 34px;
    height: 34px;
}

.arrow:hover {
    background-color: #46A358;
    background-image: url(../img/arrow-right-white.svg);
}

